/* Contenedor principal */
.contenedor-padre {
  display: flex;
  flex-direction: row;
  background-color: #0A0A0A;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Contenido del dashboard */
.dashboard-content {
  flex: 1;
  padding: 20px;
  margin-left: 270px; /* espacio para sidebar */
  background-color: #0A0A0A;
  color: #fff;
  display: flex;
  flex-direction: column;
}

/* Títulos */
.titulo-dashboard {
  color: #fff;
  font-weight: bold;
}

/* Input en fondo oscuro */
.input-dark {
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: #fff;
}
.input-dark:focus {
  border-color: #8B5CF6;
  box-shadow: none;
}

/* Botón principal */
.btn-filtrar {
  background-color: #8B5CF6;
  color: white;
  border-radius: 8px;
  padding: 8px 20px;
  font-weight: bold;
}
.btn-filtrar:hover {
  background-color: #7C3AED;
  color: #fff;
}

/* Tarjetas */
.card-dark {
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  height: auto;
  margin-bottom: 10px;
}

/* Botón "Ver más" */
.btn-vermas {
  background-color: #8B5CF6;
  color: #fff;
  border: none;
  padding: 4px 10px;
  font-size: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}


