.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #202020 !important;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.user-table th,
.user-table td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #333;
  background-color: #202020;

}

.user-table th {
  font-weight: normal;
  color: #fff;
  font-size: 25px;
}

.user-table td {
  color: #b0b0b0;
  font-size: 15px;
}

.user-table tr:hover {
  background-color: #2a2a2a !important;
}

.edit-button {
  border: none;
  border-radius: 10px;
  background-color: #8a2cf1 !important;
  color: #fff !important;
  cursor: pointer;
  width: 40px;
  height: 39px;
  margin-right: 10px;
}

.edit-button:hover {
  background-color: #6e23c1 !important;
}

.delete-button {
  border: none;
  border-radius: 10px;
  background-color: #e61610 !important;
  color: #fff !important;
  cursor: pointer;
  width: 40px;
  height: 39px;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #b40e08 !important;
}
