.userTable{
  width: 100%;
  border-collapse: collapse;
  background-color: #202020;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.userTable th,
.userTable td{
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #333;
}

.userTable th{
    font-weight: normal;
    color: #fff;
    font-size: 25px;
}

.userTable td{
    color: #b0b0b0;
    font-size: 15px;
}

.userTable tr:hover{
  background-color: #2a2a2a;
}


.editButton{
  border: none;
  border-radius: 10px;
  background-color: #8a2cf1;
  color: #fff;
  cursor: pointer;
  width: 40px;
  height: 39px;
  margin-right: 10px;
  
  
}

.editButton:hover{
    background-color: #6e23c1;
}

.deleteButton{
  border: none;
  border-radius: 10px;
  background-color: #e61610;
  color: #fff;
  cursor: pointer;
  width: 40px;
  height: 39px;
  margin-left: 10px;
}

.deleteButton:hover{
    background-color: #b40e08;
}


