.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  padding: 1rem;
  overflow-y: auto;
}

.modal-content-clients {
  background-color: #8a2cf1;
  border-radius: 12px;
  width: 100%;
  max-width: 650px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* max-height: calc(115vh - 110px); */
}

.modal-header-clients h4 {
  color: #fff;
}

.icon-close {
  color: #fff;
  font-size: 1.2rem;
}

.modal-body-clients {
  background-color: #121212;
  color: #d4d4d4;
  border-radius: 0 0 12px 12px;
}

.tituloIconoClients {
  color: #fff;
}

.form-clientes .form-control {
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.btn-cancelar {
  background-color: red;
  color: #fff;
}

.btn-cancelar:hover {
  background-color: darkred;
  color: #fff;
}

.btn-guardar {
  background-color: #8a2cf1;
  color: #fff;
}

.btn-guardar:hover {
  background-color: #6e24c8;
  color: #fff;
}

.btn-analizar {
  background-color: #8b5cf6;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.btn-analizar:hover {
  background-color: #6d44c0;
}

.form-control:focus {
  background-color: #2b2b2b !important;
  color: #fff !important;
}


@media (max-width: 768px) {
  .modal-content-clients {
    max-width: 95%;
    max-height: calc(115vh - 130px);
  }
}
